<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login - Painel administrativo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <style>
        *{
            font-family: 'Montserrat', sans-serif;
        }

        .error{
            border:solid 1px red;
            padding: 5px;
            color:red;
        }
    </style>
</head>
<body>
    
    <div class="container">

        <h2>Login</h2>

        <hr>

        {{ message('message') }}

        <form action="/login" method="post">
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" name="email" class="form-control"> 
                {{ message('email') }}
            </div>
        
            <div class="form-group">
                <label for="">Password</label>
                <input type="text" name="password" class="form-control"> 
                {{ message('password') }}
            </div>
        
            <button type="submit" class="btn btn-success">Enviar</button>
        
        </form>
    </div>

</body>
</html>
