 <html>   
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/public/fonts/fonts.googleapis.montserrat.css">
        <link rel="stylesheet" href="/public/css/styles.css">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css'/>
    </head>
    <body>
        <div class="container">
            {% block master %}
                <h2>Contato</h2>
            {% endblock %}
        </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js'></script>
        <script src="/assets/js/subscribe.js"></script>
    </body>
</html>
