{% extends 'master.twig' %}

{% block master %}

<h2>Posts</h2>

<table class="table table-striped">

    <tr>
        <td>Id</td>
        <td>Title</td>
    </tr>

    {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
        </tr>
    {% endfor %}

</table>

{% endblock %}